<button type="button" class="btn btn-@BtnType" data-toggle="modal" data-target="#ConfirmModal">@BtnText</button>
<SeaBlog.Client.Components.Confirm Title="@Title" Content="@Content"></SeaBlog.Client.Components.Confirm>
@code{
    [Parameter]
    string Title { get; set; }

    [Parameter]
    string Content { get; set; }

    [Parameter]
    string BtnText { get; set; }

    [Parameter]
    string BtnType { get; set; }
}