@page "/BlogDetail/{Id}"
@inject IBlogApi blogApi

@if (blog == null)
{
<p><em>Loading...</em></p>
}
else
{
<div class="card">
    <div class="card-body">
        <h5 class="card-title">@blog.Result.Title</h5>
        <h6 class="card-subtitle mb-2 text-muted">@blog.Result.CreationTime.ToString("yyyy年MM月dd日")</h6>
        <p class="card-text">
            <article class="markdown-body">
                @((MarkupString)blog.Result.HtmlContent)
            </article>
        </p>
        <a href="/BlogList" class="card-link">back</a>
    </div>
</div>
}

@code {
    [Parameter]
    private string Id { get; set; }

    EntityResult<BlogDetail> blog;

    protected override async Task OnInitAsync()
    {
        blog = await blogApi.GetDetailAsync(Id);
    }
}
